In [1]:
from bea import getParameterList

In [2]:
# Regional dataset
paramsList = getParameterList("Regional")

In [3]:
paramsList

,ParameterName,ParameterDataType,ParameterDescription,ParameterIsRequiredFlag,MultipleAcceptedFlag,ParameterDefaultValue
0,GeoFips,string,Comma-delimited list of 5-character geographic...,1,1,NaN
1,LineCode,integer,Line code for a statistic or industry,1,0,NaN
2,TableName,string,Regional income or product table to retrieve,1,0,
3,Year,string,Comma-delimted list of years; LAST5 for latest...,0,1,LAST5

In [4]:
paramsList = getParameterList("IntlServTrade")
paramsList

,ParameterName,ParameterDataType,ParameterDescription,ParameterIsRequiredFlag,ParameterDefaultValue,MultipleAcceptedFlag,AllValue
0,TypeOfService,string,The type of service requested,0,ALL,1,ALL
1,TradeDirection,string,The trade direction requested,0,ALL,1,ALL
2,Affiliation,string,The affiliation requested,0,ALL,1,ALL
3,AreaOrCountry,string,The area or country requested,0,AllCountries,1,ALL
4,Year,string,The year requested,0,ALL,1,ALL